<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Members only</title>
</head>

<body>
    <% if(locals.user){%>
        <h1>Hello <%= user.username%>
        </h1>
        <a href="/createMessage">Create new message</a>
        <%}%>
            <%- include("header")%>
                <main>
                    <% messages.map((msg)=> {%>
                        <li>
                            <%= msg.username%>
                                <%= msg.message%>
                                    <%= msg.to_char%>
                        </li>
                        <%})%>
                </main>
                <a href="/log-out">Log out</a>
</body>

</html>