<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Members only</title>
</head>

<body>
    <% if(locals.user){%>
        <h1>Hello <%= user.username%>
        </h1>
        <a href="/createMessage">Create new message</a>
        <%}%>
            <%- include("header")%>
                <main>
                    <% messages.map((msg)=> {%>
                        <li>
                            <% if(locals.user && locals.user.status !=="none" ){%>
                                <%= msg.username%>
                                    <%= msg.message%>
                                        <%= msg.to_char%>
                                            <%}else {%>
                                                <p>******</p>
                                                <%= msg.message%>
                                                    <p>**/**/****</p>
                                                    <%}%>
                                                        <% if(locals.user && locals.user.status==="Admin" ){%>
                                                            <a href="#">Delete
                                                                message</a>
                                                            <%}%>
                        </li>
                        <%})%>
                </main>
                <a href="/log-out">Log out</a>
</body>

</html>