<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Members only</title>
    <link reL="stylesheet" hreF="styles.css"/>
    <script src="dropdown.js" defer></script>
</head>

<body>
            <%- include("header")%>
            
            <div class="under-header-container">
                <% if(!currentUser){%>
                     <%- include("specialMessage")%>
                <%}%>
               
                <% if(currentUser && currentUser.status === "none"){%>
                    <div class="special-msg">
                        <a href="/join-club">Join the club</a> if you want to see the author and date of creation of the message
                    </div>
                <%}%>
                <% if(currentUser && currentUser.status === "Club member"){%>
                    <div class="special-msg">
                        <a href="/become-admin">Become an admin</a> if you want to be able to delete messages
                    </div>
                <%}%>
                <% if(currentUser){%>
                    
                    <a class="btn createMessage-btn" href="/createMessage">Create a message</a>
                    <%}%>
            </div>
           
                <main>
                    <% messages.map((msg)=> {%>
                    <div class="msg-card">
                        <% if(locals.user && locals.user.status !=="none" ){%>
                            <h3 class="author"><%= msg.username%></h3>
                            <p class="msg"><%= msg.message%></p>
                            <h4 class="date"><%= msg.to_char%></h4>
                            
                        <%}else {%>
                            <h3 class="author">******</h3>
                            <p class="msg">
                                <%= msg.message%>
                            </p>
                            <h4 class="date">**/**/****</h4>
                        <%}%>
                        <% if(locals.user && locals.user.status==="Admin" ){%>
                            <form action="/delete/<%=msg.id%>" method="POST">
                            <button class="btn" onClick="return confirm('Are you sure you want to delete this message?')"type="submit">
                                Delete
                            </button>
                        </form><%}%>
                    </div>
                <%})%>
                </main>

</body>

</html>